.login {
     @include flex(column);
     main {
          width: 80%;
          height: 100%;
          max-width: 400px;
          @include flex(column, center, stretch);
          @include baseShadow;
          padding: 4rem 1rem ;
          border-radius: 5px;
          >h1{
               text-align: center;
          }
          >div {
               width: 100%;
               @include flex(column, flex-start, stretch, 0.2rem);
               >input, >select {
                    @include inputStyle;
                    border: 1px solid rgb(168, 168, 168);
                    border-radius: 5px;
               }
               >p {
                    text-align: center;
                    margin: 2rem;
               }
               button {
                    width: 70%;
                    margin: auto;
                    height: 3rem;
                    background-color: rgb(97, 151, 252);
                    border: 1px solid rgb(97, 151, 252);
                    padding: 1px;
                    color: white;
                    border-radius: 5px;
                    @include flex;
                    border-radius: 5px;
                    font-size: 1.05rem;
                    >svg {
                         background-color: white;
                         width: 30%;
                         height: 100%;
                    }
                    >span {
                         width: 100%;
                         text-align: center;
                    }
               }
          }
     }
}